{% extends 'index.html' %}
{% block content %}
  <header class="header">
    <div class="header__content">
      <div class="header__logo-container">
        <div class="header__logo-img-cont">
          <img
            src="https://img.hotimg.com/1673539861392-1.jpeg"
            alt="srinu Logo Image"
            class="header__logo-img"
          />
        </div>
        <span class="header__logo-sub">SRINIVASARAO CHERUKUPALLI</span>
      </div>
      <div class="header__main">
        <ul class="header__links">
          <li class="header__link-wrapper">
            <a href="./" class="header__link"> Home </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#about" class="header__link">About </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#projects" class="header__link"> Projects </a>
          </li>
          <li class="header__link-wrapper">
            <a href="./#contact" class="header__link"> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Movie Ticket Booking Platform </h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          This page contains the case study of the Movie Ticket Booking System, an Open-Source Project that includes the Project Overview, Tools Used, and Live Links to the official product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://moviebooking.pythonanywhere.com" class="btn btn--bg" target="_blank" rel="noreferrer">Project
          Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">Project Overview</h2>
            <p class="project-details__desc-para">
              The "Movie Ticket Booking System" is an advanced web-based platform that enables users to book movie tickets online with ease. 
              It simplifies the ticket reservation process and enhances the movie-watching experience by providing a seamless and user-friendly interface.
            </p>
            <p class="project-details__desc-para">
              <b>1. Purpose and Goal:</b>
              The primary goal of this project is to provide an efficient online movie ticket booking system where users can browse movies, select showtimes, and book tickets effortlessly. 
              It minimizes manual efforts and enhances convenience.
            </p>
            <p class="project-details__desc-para">
              <b>2. Problem Addressed:</b>
              Traditional ticket booking involves long queues and manual processes. This system eliminates these challenges by offering an automated online solution that ensures quick and secure bookings.
            </p>
            <p class="project-details__desc-para">
              <b>3. Target Audience:</b>
              The platform is designed for movie lovers who prefer booking tickets online, cinema operators who need an efficient system to manage bookings, and administrators who can oversee transactions.
            </p>
            <p class="project-details__desc-para">
              Feel free to check out the project by visiting the Project Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">Python</div>
              <div class="skills__skill">Flask</div>
              <div class="skills__skill">MySQL</div>
              <div class="skills__skill">GitHub</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://moviebooking.pythonanywhere.com/" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Project Link</a>
            <a href="https://github.com/srinuch506/MovieBooking" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">GitHub Link</a>
            <a href="/" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
